body    {
    margin: 0;
    padding: 0;
    background-color: rgb(254, 223, 206);
}
.row    {
    display: flex;
    flex-wrap: wrap;
}
.abtus-container {
    background-color: rgb(248, 201, 186);
    height: fit-content;
    padding: 40px 20px;
    position: relative;
    z-index: -1;
}
.abtus-container2 {
    background-color: rgb(248, 201, 186);
    height: fit-content;
    padding: 40px 20px;
    z-index: -1;
}
.abt-website {
    justify-content: center;
    background-color: rgb(254, 223, 206);
    border-radius: 10px;
    padding: 20px;
    margin: 40px 20px;
}
.w-header {
    font-family: "PT Serif", serif;
}
.vm-row-box {
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.vi-mi-box {
    padding: 20px;
}
.vm-content-box {
    background-color: rgb(144, 12, 63);
    border-radius: 10px;
    color: white;
    width: 100%;
    padding: 30px;
    margin: 10px;
}
.vm-content-box:hover {
    box-shadow: 5px 4px 5px rgb(38, 38, 38);
}
.vm-header {
    font-family: "PT Serif", serif;
}
.headerp {
    font-size: 18px;
    font-family: "Teachers", sans-serif;
}
.abtus-mb {
    margin-bottom: 5%;
}
.team-header {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: "Teachers", sans-serif;
}
.member-row {
    width: 100%;
    padding: 40px;
}

.member-img {
    width: 100%;
    margin: 0;
}
.member-text {
    font-family: "Teachers", sans-serif;
    font-size: 21px;
    text-align: center;
    color: white;
    background-color: rgba(100, 30, 57, 0.566);
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 10px;
}

.abtus-row {
    justify-content: center;
}
.abtus-content {
    background-color: rgb(248, 201, 186);
    padding: 30px 40px;
}
.abtus-header {
    font-family: "PT Serif", serif;
}
.abtus-p {
    font-family: "Teachers", sans-serif;
}